<link rel="stylesheet" href="css/chung.css">
    <div class="chuyen">
        <div class="chuyen-sp">
            <h1>
                Polo nữ Pima cao cấp
            </h1>
            <p>
                Nhắc đến sự đẳng cấp là không thể không nhắc đến dòng vải pima. Nó tạo nên chất lượng tốt nhất cho bất kỳ sản phẩm thời trang nào. Sợi vải pima dài và dày hơn sợi cotton thông thường gấp đôi nhờ công nghệ dệt tân tiến. Điều đó làm cho kết cấu áo polo chắc chắn, bền chặt, hạn chế tối đa xù lông, mềm mượt, bền màu, vô cùng đảm bảo sức khoẻ người dùng
            </p>
        </div>
        <div class="lam-chuan">
            <div class="chuyen-dong"></div>
            <img src="uploads-img/slide_1.05395af1.png" alt="">
        </div>
    </div>
    <div class="hinh-thuc">
        <div class="hinh-thuc-trong">
            <div><img  src="img/shopping-bag.svg" alt=""></svg></div>
            <h2>Miễn phí giao hàng</h2>
        </div>
        <div class="hinh-thuc-trong">
            <div>
                <img src="img/credit-card.svg" alt="">
            </div>
                <h2>Thanh toán COD</h2>
            
        </div>
        <div class="hinh-thuc-trong">
            <div>
                <img src="img/diamond.svg" alt="">
            </div>
            <h2>Khách hàng VIP</h2>
            
        </div>
        <div class="hinh-thuc-trong">
            <div>
                <img src="img/donate-heart.svg" alt="">
            </div>
            <h2>Hỗ trợ bảo hành</h2>
        </div>
    </div>
    <div style="text-align: center;">
        <img style="width: 250px;" src="img/logo.svg" alt="">
    </div>
