
<footer>
    <div class="footer">
        <div class="footer-ho-tro">
            <h3>Tổng đài hỗ trợ</h3>

        </div>
        <div class="footer-about">
            <h3>Về S!MPLE</h3>
        </div>
        <div class="footer-care">
            <h3>Chăm sóc khách hàng</h3>
        </div>
        <div class="footer-logo">
            <img src="/img/logo.svg" alt="">
        </div>
    </div>
</footer>


<script src="/js/index.js"></script>
</body>

</html>