footer{
    height: 300px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

footer :first-child{
    flex: 1;
    /* grid-template-rows: 200px; */
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #B7B7B7;
    /* margin: auto auto;
    justify-content: center; */
}